<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swervo Drive Control</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/static/stylesheet.css">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>
<body>
    <div class="column">
        <h1 style="text-align: center" >Swerve Drive Control</h1>
        <div class="roundedDiv">
            <h2 style='color: darkred; text-align:center' id ='constatus'>Connection Status: Waiting...</h2>
        </div>
        <div class="roundedDiv">
            <table border="0" cellpadding="6" style="margin: 0 auto;">
                <tr>
                    <td align="center">Increase Speed<br>
                        <input type="image" src="/static/speed_up.png" width="50" onclick="sendCMD('speedup');"/>
                    </td>
                    <td align="center">Left-Forward<br>
                        <input type="image" src="/static/arrow_up_left.png" width="50" onclick="sendCMD('ltforward');"/>
                    </td>
                    <td align="center">Forward<br>
                        <input type="image" src="/static/forward.png" width="50" onclick="sendCMD('forward');"/>
                    </td>
                    <td align="center">Right-Forward<br>
                        <input type="image" src="/static/arrow_up_right.png" width="50" onclick="sendCMD('rtforward');"/>
                    </td>
                    <td align="center">Home<br>
                        <input type="image" src="/static/gohome.png" width="50" onclick="sendCMD('home');"/>
                    </td>
                </tr>
                <tr>
                    <td align="center">Spin Left<br>
                        <input type="image" src="/static/spinleft.png" width="50" onclick="sendCMD('spinleft');"/>
                    </td>
                    <td align="center">Left<br>
                        <input type="image" src="/static/left.png" width="50" onclick="sendCMD('left');"/>
                    </td>
                    <td align="center">Stop<br>
                        <input type="image" src="/static/stop.png" width="50" onclick="sendCMD('stop');"/>
                    </td>
                    <td align="center">Right<br>
                        <input type="image" src="/static/right.png" width="50" onclick="sendCMD('right');"/>
                    </td>
                    <td align="center">Spin Right<br>
                        <input type="image" src="/static/spinright.png" width="50" onclick="sendCMD('spinright');"/>
                    </td>
                </tr>
                <tr>
                    <td align="center">Decrease Speed<br>
                        <input type="image" src="/static/speed_down.png" width="50" onclick="sendCMD('speeddown');"/>
                    </td>
                    <td align="center">Left-Backward<br>
                        <input type="image" src="/static/arrow_down_left.png" width="50" onclick="sendCMD('ltbackward');"/>
                    </td>
                    <td align="center">Backward<br>
                        <input type="image" src="/static/backward.png" width="50" onclick="sendCMD('backward');"/>
                    </td>
                    <td align="center">Right-Backward<br>
                        <input type="image" src="/static/arrow_down_right.png" width="50" onclick="sendCMD('rtbackward');"/>
                    </td>
                    <td align="center">Config<br>
                        <input type="image" src="/static/config.png" width="50" onclick="sendCMD('motor');"/>
                    </td>
                </tr>
            </table>
        </div>
        <div class="roundedDiv" id='swervebox' style="position: relative; height: 400px">
            <img src="/static/wheel.png" class="wheelimg" id="fl">
            <img src="/static/wheel.png" class="wheelimg" id="fr">
            <img src="/static/wheel.png" class="wheelimg" id="bl">
            <img src="/static/wheel.png" class="wheelimg" id="br">
            <p class="wheelp" id="flp">0</p>
            <p class="wheelp" id="frp">0</p>
            <p class="wheelp" id="blp">0</p>
            <p class="wheelp" id="brp">0</p>
        </div>
    </div>
    <div class="column">
        <h1 style="text-align: center" >Debug</h1>
        <div class="roundedDiv">
            <textarea readonly rows="15" style="width: 99%" id="printtext"></textarea>
        </div>
    </div>
    <p><button onclick="kill()" style="background-color: red" class="nice_button">Shutdown!</button></p>
    <script>
        var start_dt = new Date ( );
        var last_mills = start_dt.getTime ( );
        last_action = "";

        function sendCMD(cmd) {
          var run_dt = new Date ( );
          var mills = run_dt.getTime ( );
          // If a dup, ignore if newer than .500ms
          if (cmd == last_action && (mills - last_mills) <= 500) { return; }
          last_mills = mills;
          last_action = cmd;
          $.get('/drive_cmd/' + cmd)
        }

        function getStatus() {
          $.ajax({
            url: '/status',
            success: function(data) {
                document.getElementById('constatus').innerHTML = "Connection Status: Connected!";
                document.getElementById("constatus").style.color = "lightgreen";
            },
            error: function() {
                document.getElementById('constatus').innerHTML = "Connection Status: Failure!";
                document.getElementById("constatus").style.color = "darkred";
            },
            timeout: 2000 //in milliseconds
          });
        }

        getStatus();
        setInterval(getStatus, 1000);

        function getPrints() {
          $.get('/prints', {}, function(data) {
            document.getElementById("printtext").value = data
            document.getElementById("printtext").scrollTop = document.getElementById("printtext").scrollHeight
          })
        }

        getPrints()
        setInterval(getPrints, 1000);

        function getErrors() {
          $.get('/traceback', {}, function(data) {
            if (data != "") { alert(data); }
          })
        }

        getErrors()
        setInterval(getErrors, 1000);

        function kill () {
          $.get('/kill')
        }

    </script>
    <script>
        document.addEventListener('keydown', keypressed);

        function keypressed (key) {
            if (key.code == "KeyW") { sendCMD('forward') }
            if (key.code == "KeyA") { sendCMD('left') }
            if (key.code == "KeyS") { sendCMD('backward') }
            if (key.code == "KeyD") { sendCMD('right') }
            if (key.code == "KeyQ") { sendCMD('spinleft') }
            if (key.code == "KeyE") { sendCMD('spinright') }
            if (key.code == "KeyR") { sendCMD('speedup') }
            if (key.code == "KeyF") { sendCMD('speeddown') }
            if (key.code == "Space") { sendCMD('stop') }

        }
    </script>
    <script>
        function getWheelPos() {
          $.get('/wheelPos', {}, function(data) {
            var width = document.getElementById('swervebox').offsetWidth;
            var center = width/2
            var left = center - 100 - 25;
            var right = center + 100 - 25;
            document.getElementById('fl').style.left = left + 'px';
            document.getElementById('bl').style.left = left + 'px';
            document.getElementById('fr').style.left = right + 'px';
            document.getElementById('br').style.left = right + 'px';

            document.getElementById('fl').style.top = '50px';
            document.getElementById('fr').style.top = '50px';
            document.getElementById('br').style.top = '250px';
            document.getElementById('bl').style.top = '250px';

            document.getElementById('flp').style.left = left + 20 + 'px';
            document.getElementById('blp').style.left = left + 20 + 'px';
            document.getElementById('frp').style.left = right + 20 + 'px';
            document.getElementById('brp').style.left = right + 20 + 'px';

            document.getElementById('flp').style.top = '80px';
            document.getElementById('frp').style.top = '80px';
            document.getElementById('brp').style.top = '280px';
            document.getElementById('blp').style.top = '280px';

            document.getElementById("fl").style.transform = 'rotate(' + data['fl'][0] + 'deg)';
            document.getElementById("fr").style.transform = 'rotate(' + data['fr'][0] + 'deg)';
            document.getElementById("bl").style.transform = 'rotate(' + data['bl'][0] + 'deg)';
            document.getElementById("br").style.transform = 'rotate(' + data['br'][0] + 'deg)';

            document.getElementById("flp").innerHTML = data['fl'][2];
            document.getElementById("frp").innerHTML = data['fr'][2];
            document.getElementById("blp").innerHTML = data['bl'][2];
            document.getElementById("brp").innerHTML = data['br'][2];

            if (data['fl'][1]) {
              document.getElementById("fl").src = '/static/wheel.png'
            }
            else {
              document.getElementById("fl").src = '/static/wheel_inv.png'
            }

            if (data['fr'][1]) {
              document.getElementById("fr").src = '/static/wheel.png'
            }
            else {
              document.getElementById("fr").src = '/static/wheel_inv.png'
            }

            if (data['bl'][1]) {
              document.getElementById("bl").src = '/static/wheel.png'
            }
            else {
              document.getElementById("bl").src = '/static/wheel_inv.png'
            }

            if (data['br'][1]) {
              document.getElementById("br").src = '/static/wheel.png'
            }
            else {
              document.getElementById("br").src = '/static/wheel_inv.png'
            }
          })
        }

        getWheelPos();
        setInterval(getWheelPos, 1000);
    </script>
</body>
</html>